**/*.log
**/*.md
**/.idea/
**/.vscode/
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.env*
.php_cs.cache
docker/mysql/data/
storage/
vendor/
